* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header, .main {
    width: 80%;
    margin: 0 auto;
}

.title {
    display: block;
}

.accordion, .meme, .title {
    width: 100%;
}

.meme-pic {
    display: block;
    width: 70%;
    margin: 0 auto;
}
